{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $Srcset := slice -}}
{{- $imageProcessing := .Page.Site.Params.imageProcessing.content.enabled -}}
{{- $allowedTypes := .Page.Site.Params.ImageProcessing.AllowedTypes -}}
{{- $resizableTypes := .Page.Site.Params.ImageProcessing.ResizableTypes -}}
{{- $galleryImage := false -}}

{{- if $image -}}
	{{- $type := $image.MediaType.SubType -}}
	{{- $allowed := in $allowedTypes $type -}}
    {{- $resizable := in $resizableTypes $type -}}
    {{- $imageProcessing := and $imageProcessing $resizable -}}
	{{- $Permalink = $image.RelPermalink -}}

	{{- if $allowed -}}
		{{- $Width = $image.Width -}}
		{{- $Height = $image.Height -}}
		{{- $galleryImage = true -}}

		{{- $wm := (resources.Get "img/watermark.png") }}
		{{- if $wm }}
			{{- $size := math.Round (mul $image.Height 0.30) }}
			{{- $size := cond (ge $size 80) ($size) (80.0) }}
			{{- $sizeInt := int $size }}
			{{- $watermark := $wm.Resize (printf "%dx" $sizeInt ) }}
			{{- $image = $image.Filter (images.Overlay $watermark (sub $image.Width $watermark.Width) (sub $image.Height $watermark.Height)) }}
		{{- end -}}
		{{- $webp := $image.Resize (printf "%dx%d webp" $Width $Height) -}}
        {{- $Permalink = $webp.RelPermalink -}}
        
		{{- if $imageProcessing -}}
			{{- $keys := slice "small" "big" -}}
			{{- range $keys -}}
				{{- with (index $.Page.Site.Params.ImageProcessing.Content .) -}}
					{{- if gt $Width .Threshold -}}
						{{- $resized := $webp.Resize (printf "%dx" .Width) -}}
						{{- $Srcset = $Srcset | append (printf `%s %dw` $resized.RelPermalink .Width) -}}
					{{- end -}}
				{{- end -}}
			{{- end -}}
			{{- $resized := $webp.Resize (printf "%dx%d webp Box" $Width $Height) -}}
			{{- $Srcset = $Srcset | append (printf `%s %dw` $resized.RelPermalink $Width) -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

<img src="{{ $Permalink }}"
	{{ with $Width }}width="{{ . }}"{{ end }}
	{{ with $Height }}height="{{ . }}"{{ end }}
	{{ with $Srcset }}srcset="{{ delimit . `, ` }}"{{ end }}
	loading="lazy"
	decoding="async"
	{{ with $alt }}
		alt="{{ . }}"
	{{ end }}
	{{ if $galleryImage }}
		class="gallery-image" 
		data-flex-grow="{{ div (mul $image.Width 100) $image.Height }}"
		data-flex-basis="{{ div (mul $image.Width 240) $image.Height }}px"
	{{ end }}
>
